/**
 * Attachment containers are either:
 *  - <div> elements, in the message thread;
 *  - <iframe> elements, in the Compose area (draft attachments).
 * Both containers have an `attachment-container' class, but only <iframe>
 * containers have an `attachment-draft' class.
 */
.attachment-container {
  position: relative;

  display: block;
  border: none;
  height: 84px; /* default size = 80 px + border */
  width: 124px;
}

.attachment-draft {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

/* make sure all pointer events are sent to the main container */
.attachment-draft *,
.attachment-container * {
  pointer-events: none;
}

.attachment-container.nopreview { /* 80x80 px placeholder + filename below */
  height: calc(80px + 2.7rem); /* font-size = 1.7rem + 1rem margin */
  width: 120px;
}

/*.attachment-container.preview {
 * 80x80 px thumbnail, no filename shown
 * thumbnail size is defined dynamically, extensible to 80x120 or 120x80 
 *}
 */

.article-list[data-type="list"] .message .attachment-container {
  margin: 1rem 0;
}

.article-list[data-type="list"] .message.outgoing .attachment-container {
  margin-left: auto;
  margin-right: 0;
}

/**
 * Attachments that occur at the bounds of an MMS message do not need
 * additional spacing.
 */
#messages-container[data-type="list"] .message .attachment-container:first-child {
  margin-top: 0;
}
#messages-container[data-type="list"] .message .attachment-container:last-child {
  margin-bottom: 0;
}

.attachment {
  position: absolute;
  top: 0;
  left: 0;

  width: 120px;
  height: 80px;
}

.outgoing .attachment {
  left: auto;
  right: 0;
}

.preview .attachment {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: #ececec;
  border: 2px solid #fff;
}

.preview .attachment:active,
.preview .attachment:hover {
  background-color: #b2f2ff;
}

.size-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 0 0.4rem;
  display: none;

  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.attachment-draft .size-indicator {
  display: block;
}

.file-name {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  left: 0;

  height: 1.7rem;
  display: none;

  line-height: 1.7rem;
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #474747;
}

.outgoing .file-name {
  text-align: right;
}

.nopreview .file-name {
  display: block;
}

.thumbnail {
  width: 100%;
  height: 100%;

  background-image: none;
  background-repeat: no-repeat;
  background-position: center center
}

.thumbnail-placeholder {
  width: 100%;
  height: 100%;

  background-image: url('images/attachments.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 120px;
}

.attachment-container .thumbnail,
.attachment-container .thumbnail-placeholder {
  position: absolute;
  top: 0
}

.attachment-draft:hover .thumbnail-placeholder,
.attachment-draft:active .thumbnail-placeholder,
.attachment-container:hover .thumbnail-placeholder,
.attachment-container:active .thumbnail-placeholder {
  background-color: #33cccc;
  background-blend-mode: luminosity;
}

.img-placeholder {
  background-position: left -80px;
}

.attachment-draft:hover .img-placeholder,
.attachment-draft:active .img-placeholder,
.attachment-container:hover .img-placeholder,
.attachment-container:active .img-placeholder {
  background-position: right -80px;
}

.audio-placeholder {
  background-position: left -160px;
}

.attachment-draft:hover .audio-placeholder,
.attachment-draft:active .audio-placeholder,
.attachment-container:hover .audio-placeholder,
.attachment-container:active .audio-placeholder {
  background-position: right -160px;
}

.video-placeholder {
  background-position: left -240px;
}

.attachment-draft:hover .video-placeholder,
.attachment-draft:active .video-placeholder,
.attachment-container:hover .video-placeholder,
.attachment-container:active .video-placeholder  {
  background-position: right -240px;
}

.corrupted {
  width: 100%;
  height: 100%;

  background-image: url('icons/corrupted.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 82px;
}

