#modal-dialog-alert,
#modal-dialog-confirm,
#modal-dialog-prompt,
#modal-dialog-custom-prompt,
#modal-dialog-error,
#modal-dialog-select-one {
  display: none;
}

.authentication-dialog input,
#modal-dialog input {
  border-radius: 0.2rem;
  height: 4rem;
  font-size: 2rem;
  width: 100%;
  color: white;
  background: none;
  -moz-box-sizing: border-box;
}

#screen.modal-dialog #modal-dialog,
#modal-dialog-alert.visible,
#modal-dialog-confirm.visible,
#modal-dialog-prompt.visible,
#modal-dialog-custom-prompt.visible,
#modal-dialog-error.visible,
#modal-dialog-select-one.visible {
  display: block;
}

.appWindow > .modal-dialog .modal-dialog-custom-prompt {
  height: auto;
  padding: 0 0 7rem;
}

.appWindow > .modal-dialog .modal-dialog-custom-prompt p {
  display: block !important;
}

.modal-dialog-custom-prompt.visible .hidden {
  display: none;
}

#modal-dialog-error {
  background-color: black;
  background-image: url(images/error_bk.png);
  background-size: 32rem;
}

#modal-dialog-sad-face {
  float: left;
  font-size: 7.2rem;
  margin-right: 0.2rem;
}

/* Confirm dialog */
.modal-dialog-message-container p {
  display:inline !important;
  word-wrap: break-word;
  padding: 0;
}

/* Select one dialog */

#modal-dialog-select-one .modal-dialog-message-container {
  display: block;
  padding: 0 1.5rem 0 1.5rem;
  position: absolute;
  left: 0;
  bottom: 6.8rem;
}

#modal-dialog-select-one h3 {
  font-size: 1.8rem;
}

#modal-dialog-select-one ul {
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 2rem 0;
  display: block;
  overflow: hidden;
}

#modal-dialog-select-one ul > li {
  width: 100%;
  padding-top: 1rem;
  margin: 0;
  display: block;
  overflow: hidden;
  border: none;
  height: auto;
  line-height: normal;
}

#modal-dialog-select-one ul > li > button {
  color: #fff;
  text-shadow: none;
  text-align: left;
  margin: 0;
  background: #4E4E4E padding-box;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

#modal-dialog-select-one ul > li > button:active {
  background-color: #006f86;
  color: #333;
  text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.25);
}
