#tutorial {
  background: url(images/bg_grey-noise.png);
}

/*
 * Tiny devices. Number of steps is 6
 */

#tutorial .step-state {
  top: 2.5rem;
}

#tutorial-steps-container {
  top: 4rem;
}

#tutorial-step-title {
  color: white;
  height: 5rem;
  padding: 0 1.5rem 1rem 1.5rem;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
  overflow: hidden;
  -moz-box-sizing: border-box;
}

#tutorial-step-image {
  height: calc(100% - 6rem);
  text-align: center;
}

#tutorial-step-image img {
  width: 28.9rem;
}

/*
 * First step. Has no 'Back' action.
 */

#tutorial[data-step="1"] #back-tutorial{
 display: none;
}

#tutorial[data-step="1"] .recommend{
  width: 100%;
}

/*
 * Large devices. Tablet for example
 */
@media (min-width: 768px) {
  #tutorial[data-step="1"] .recommend{
    width: 83rem;
  }

  #tutorial-step-image img {
    width: 82.2rem;
  }
}
