<header>
  <button id="alarm-close" data-l10n-id="closeButton"><span class="icon icon-close"></span></button>
  <menu type="toolbar">
    <button id="alarm-done" data-l10n-id="done"></button>
  </menu>
  <h1 id="alarm-title">
    <span class="new-alarm-title" data-l10n-id="newAlarm">NeW AlarM</span>
    <span class="edit-alarm-title" data-l10n-id="editAlarm">Edit AlarM</span>
  </h1>
</header>
<ul id="edit-alarm" class="compact">
  <li>
    <input type="text" name="alarm.label" id="alarm-name" data-l10n-id="alarmName" placeholder="Alarm name" maxLength="50" />
  </li>
  <li>
    <label data-l10n-id="time">Time</label>
    <input id="time-select" type="time" />
  </li>
  <li>
    <label data-l10n-id="repeat">Repeat</label>
    <select id="repeat-select" multiple="true">
      <!-- NOTE: These are reordered based upon the value for
                 the l10n variable 'weekStartsOnMonday'. -->
      <option value="monday" data-l10n-id="weekday-1-long">Monday</option>
      <option value="tuesday" data-l10n-id="weekday-2-long">Tuesday</option>
      <option value="wednesday" data-l10n-id="weekday-3-long">Wednesday</option>
      <option value="thursday" data-l10n-id="weekday-4-long">Thursday</option>
      <option value="friday" data-l10n-id="weekday-5-long">Friday</option>
      <option value="saturday" data-l10n-id="weekday-6-long">Saturday</option>
      <option value="sunday" id="repeat-select-sunday"
              data-l10n-id="weekday-0-long">Sunday</option>
    </select>
  </li>
  <li>
    <label data-l10n-id="sound">Sound</label>
    <select id="sound-select">
      <option value="0" data-l10n-id="noSound">No Sound</option>
      <option value="ac_classic_clock_alarm.opus" data-l10n-id="ac_classic_clock_alarm_opus"></option>
      <option value="ac_classic_clock_alarm_prog.opus" data-l10n-id="ac_classic_clock_alarm_prog_opus2"></option>
      <option value="ac_classic_clock_radio.opus" data-l10n-id="ac_classic_clock_radio_opus"></option>
      <option value="ac_normal_gem_echoes.opus" data-l10n-id="ac_normal_gem_echoes_opus"></option>
      <option value="ac_normal_ringing_strings.opus" data-l10n-id="ac_normal_ringing_strings_opus"></option>
      <option value="ac_soft_humming_waves.opus" data-l10n-id="ac_soft_humming_waves_opus"></option>
      <option value="ac_soft_into_the_void.opus" data-l10n-id="ac_soft_into_the_void_opus"></option>
      <option value="ac_soft_smooth_strings.opus" data-l10n-id="ac_soft_smooth_strings_opus"></option>
    </select>
  </li>
  <li>
    <label class="pack-switch">
      <input type="checkbox" id="vibrate-checkbox" checked class="uninit" />
      <span data-l10n-id="vibrate">Vibrate</span>
   </label>
  </li>
  <li>
    <label class="view-alarm-lbl snooze-lbl" data-l10n-id="snooze-label">Snooze</label>
    <select id="snooze-select">
      <option data-l10n-id="nMinutes" data-l10n-args='{"n": "5"}'  value="5">  5 minutes</option>
      <option data-l10n-id="nMinutes" data-l10n-args='{"n": "10"}' value="10">10 minutes</option>
      <option data-l10n-id="nMinutes" data-l10n-args='{"n": "15"}' value="15">15 minutes</option>
      <option data-l10n-id="nMinutes" data-l10n-args='{"n": "20"}' value="20">20 minutes</option>
    </select>
  </li>
  <li>
    <label class="alarm-volume-lbl"
           id="alarm-volume-lbl"
           data-l10n-id="alarm-volume-label">Alarm Volume</label>
    <!-- 0.0625 is 1/16th, which matches the step size in System Settings. -->
    <input id="alarm-volume-input" step="0.0625" min="0" value="1" max="1"
           type="range">
  </li>
  <li id="delete-menu">
    <button id="alarm-delete" class="danger full" data-l10n-id="delete">Delete</button>
  </li>
</ul>
