html {
  font-size: 10px;
}

html, body, .icons {
  height: 100%;
  padding: 0;
  margin: 0;
}

.icon {
  position: absolute;
  transform-origin: 0 0;
  will-change: transform;
  display: inline-block;
  width: calc(100% / 3);
  height: 9rem;
  text-align: center;
  background: no-repeat center;
  background-size: 8rem;
  z-index: 3;
}

.icon .title {
  display: inline-block;
  margin-top: 9rem;
  pointer-events: none;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.divider {
  position: absolute;
  height: 0.2rem;
  margin: 2.3rem 25%;
  background: #fff;
  width: 50%;
  z-index: 2;
}

.divider:last-child {
  visibility: hidden;
}

.dragging .icon.active {
  z-index: 4;
}

.dragging .divider,
.dragging .icon:not(.active) {
  transition: transform 0.35s;
}

.edit-mode .divider:last-child {
  visibility: visible;
}

.icon .remove {
  display: none;
}

.edit-mode #edit-mode-curtain {
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.edit-mode .icon:not(.active) {
  opacity: 0.8;
}

.edit-mode .icon .remove {
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
  background: url(/style/images/remove.png) no-repeat;
}

.edit-mode .icon.active .remove {
  display: none;
}

.edit-mode .icon.bookmark .title {
  background-color: rgba(132, 132, 132, 0.7);
  border-radius: 2rem;
  padding: .2rem .6rem .2rem .6rem;
}

#confirmation-message.fade-in {
  position: fixed;
}

/* The confirmation message can not successfully fade out as implemented due
   to our vertical layout and position: fixed assignment */
#confirmation-message.fade-out {
  display: none;
}
