<element name="fxa-set-password" extends="section">
  <template>
    <section class="vertical">
      <h3 data-l10n-id="fxa-set-password-title">Enter your new password</h3>
      <p id="fxa-hello-user" data-l10n-id="fxa-hello-user">Hello, <a id="fxa-user-set-email">holaSET@email.com</a></p>
      <input id="fxa-pw-set-input" type="password" placeholder="Password" required="" pattern=".{8,}" data-l10n-id="fxa-password" x-inputmode="verbatim">
      <div class="horizontal">
        <p data-l10n-id="fxa-show-password">Show password</p>
        <label class="pack-checkbox" for="fxa-show-pw-set">
          <input id="fxa-show-pw-set" type="checkbox">
          <span></span>
        </label>
      </div>
      <script src='js/screens/fxam_set_password.js'></script>
    </section>
  </template>
</element>
