
/** Setting Options
 ---------------------------------------------------------*/

.setting-options {
  height: 100%;
  font-size: 1.6rem;
  color: #FFF;
}

/** Inner
 ---------------------------------------------------------*/

.setting-options > .inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/** Title
 ---------------------------------------------------------*/

.setting-options .settings_title:before {
  display: block;
  position: absolute;
  left: -1rem; top: 0;
  font-size: 24px;
}

/** Items
 ---------------------------------------------------------*/

.setting-options_items {
  flex: 1;
  overflow: scroll;
}

.setting-options_items > .inner {
  padding: 0 1.5rem;
  background: rgba(0,0,0,0.85);
}

/** Item
 ---------------------------------------------------------*/

/**
 * 1. We don't want borders to change
 *    the size of the content-box.
 */

.setting-option {
  height: 7rem;
  padding: 0 1.5rem;
  font-size: 1.9rem;
  line-height: 7rem;
  font-weight: 500;
  border: solid 1px rgba(255,255,255,0.15);
  border-width: 1px 0 0;
  box-sizing: content-box; /* 1 */
}

/**
 * @last-child
 */

.setting-option:last-child {
  border-width: 1px 0 1px;
}

/**
 * @active
 */

.setting-option:active {
  background: rgba(0,142,171,0.3);
  border-color: transparent;
  color: white;
}

/**
 * @selected
 */

.setting-option.selected {
  color: #008eab;
}

.setting-option.selected:active {
  color: white;
}

/** Item Icon
 ---------------------------------------------------------*/

.setting-option:before {
  float: right;
  margin-right: 0.5rem;
  visibility: hidden;
}

/**
 * @selected
 */

.setting-option.selected:before {
  visibility: visible;
}
