<element name="confirm" extends="form">
  <template>

     <section>
       <h1>Confirmation title</h1>
       <p>Confirmation message</p>
     </section>
     <menu>
       <button>Action 1</button>
       <button>Action 2</button>
     </menu>

  </template>
</element>
