/* Contact detail header */
.contact-header {
  margin: -1.4rem -2rem 1rem;
}

/* Fav star in header */
#contact-name-title.favorite {
  background: url(/contacts/style/gphx/bitmap/default/vw-header/icons/fav-star.png) no-repeat right 1rem / 3rem;
  padding-right: 3rem;
  margin-right: -1rem;
}

section[role="region"] > header:first-child .icon.icon-edit-contact {
  background-image: url(images/edit-contact.png);
}

.contact-header img {
  width: 100%;
  height: 7.6rem;
  background: transparent no-repeat center 30%;
  background-size: 100% auto;
}

.view-contacts-list .block-list {
  padding-right: 1rem;
}

.view-contacts-list .view-body-inner {
  padding-left: 0;
}

#contact-name-title {
  max-width: 22rem;
  float: left;
}

/* Contact detail main section */

.view-contact-profile .view-body {
  overflow-x: hidden;
  overflow-y: auto;
  will-change: scroll-position;

  background: #fff;
}

.view-contact-profile .view-body-inner {
  will-change: transform;
}

.view-contact-profile #cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff no-repeat;
  background-size: 100% auto;
  transform: translateY(0);
  will-change: transform;
}

.view-contact-profile #cover-img.translated {
  transform: translateY(-7rem);
}

.view-contact-profile #cover-img.up {
  transition: transform 0.25s ease-out;
}

#contact-detail-inner {
  padding-bottom: 1rem;
  padding-top: 1.4rem;
}

.fb-contact:not(.no-photo):before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -3rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.view-contact-profile .view-body-inner {
  position: relative;
  padding: 0 1.5rem;
  background: #fff;
  overflow: visible;
  width: 100%;
  min-height: calc(100% - 8rem);
  -moz-box-sizing: border-box;
  transform: translateY(0);
}

.view-contact-profile .view-body-inner.translated {
  transform: translateY(8rem);
}

.view-contact-profile .view-body-inner.up {
  transition: transform 0.5s ease-out;
}

.view-contact-profile .view-body-inner hr {
  margin-top: 0;
}

.view-contact-profile .view-body-inner:not(.no-photo):after {
  background: url(images/shadow_1px.png) repeat-x bottom / auto 0.8rem;
  content: "";
  display: block;
  height: 0.8rem;
  top: -0.8rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.view-contact-profile .view-body-inner.no-photo {
  min-height: 100%;
}

.view-contact-profile .view-body-inner .comment-notes {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3em;
  white-space: pre-wrap;
}

#bulkDelete {
  margin-top: 1rem;
}

#contact-detail h1 {
  font-size: 1.6rem;
  line-height: 1.8em;
  font-weight: 400;
  margin: 0 1.5rem 1rem;
  color: #333;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#contact-detail li button.icon-call {
  padding-left: 0;
}

#contact-detail li button>div {
  display: inline-flex;
  width: calc(100% - 1.5rem);
  margin-left: 1.5rem;
}

#contact-detail li button>div b {
  flex: 1;
}

#contact-detail .social-actions button {
  margin-bottom: 1rem;
}

.calls-disabled li[data-phone] button.call-action {
  pointer-events: none;
}

#contact-detail .duplicate-actions button {
  margin-bottom: 1rem;
}

#contact-detail h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-size: 1.8rem;
  color: #4997a7;
  font-weight: normal;
  margin: 0 1.5rem 0.2rem;
}

#contact-detail .carrier {
  font-size: 1.4rem;
  color: #5f5f5f;
  text-transform: none;
}

.block-item > * {
  pointer-events: none;
}

/* Edit contact section */
.view-edit-contact .item.first,
.view-edit-contact form li {
  border-bottom: 0.1rem solid #dbdbdb;
}

.view-edit-contact .tail-actions {
  margin: 1rem 0;
}

.view-edit-contact form li > section {
  padding: 0;
  border: none;
}

.view-edit-contact form li > section.first {
  margin: 0;
}

.view-edit-contact form li > section{
  position: relative;
}

.view-edit-contact form li > section div {
  position: relative;
}

.view-edit-contact form li fieldset {
  overflow: visible;
}

.view-edit-contact form li fieldset legend {
  width: calc(100% - 5rem);
}

.view-edit-contact .fillflow-row-action {
  width: 4rem;
  height: 4rem;
}

#contacts-form-notes {
  margin: 1rem 0 1.5rem 0;
}

#contacts-form-notes .setbox {
  width: calc(100% - 5rem);
}

/* FB info (non-editable) */
.view-edit-contact .facebook fieldset legend,
.view-edit-contact .facebook fieldset input[type="date"] {
  width: 100%;
  border-color: #acbee4;
  color: #8d9abb;
  background-image: url(fb/dialog.svg);
}

.view-edit-contact .facebook input {
  border-color: #acbee4;
  color: #8d9abb;
}

.view-edit-contact .facebook span {
  color: #8d9abb;
}

.view-edit-contact .facebook input[value=""] {
  display: none;
}

hr {
  background-color: #BCBCBC;
  border: 0;
  height: 0.1rem;
}

/* Overriding Input areas BB */
form p input + button[type="reset"].hide,
form p textarea + button[type="reset"].hide {
  display: block !important;
  opacity: 0;
  pointer-events: none;
}

/* Favorites handling */
#group-favorites abbr {
  background: url(gphx/bitmap/default/lists/favorites.png);
  display: block;
  background-size: 100% auto;
  width: 2rem;
  height: 2rem;
}

/* "import contacts" button and throbber */
.importContacts {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-left: 1.5rem;
  width: calc(100% - 6rem); /* 4.5rem = view-jumper width */
}

.importContacts button {
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.importContacts span, .importContacts small {
  display: block;
}


/* Social network markers */
.icon-social {
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  margin: -0.2rem 1rem 0 0;
}

.icon-social.icon-fb,
.fb-contact:not(.no-photo):before {
  background-image: url(images/f_logo.png) !important;
}

.icon-social.notorg {
  margin-left: 0 !important;
}

#contact-detail p > strong,
.action-block b,
.comment-notes {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0 1.5rem 1.5rem;
  display: block;
}

/* MARK AS REMOVED */

.removed {
  border-color: #c8c8c8;
  opacity: 0.85;
}

.removed fieldset, .removed legend, .removed input {
  background-color: transparent;
  color: #ccc;
  pointer-events: none;
}

.removed legend.action:after {
  border-top-color: #666;
}

.removed button span.icon-delete {
  background-image: url("/contacts/style/gphx/bitmap/default/forms/undo.png");
}

.with-photo {
  padding-right: 5rem;
  background: none;
}

.with-photo.removed img {
  pointer-events: none;
}

.with-photo p {
  display: none;
}

.view-edit-contact .with-photo .fillflow-row-action {
  right: 0;
  width: 5rem;
  z-index: 10;
  border-radius: 0;
  background: none;
}

/* SETTINGS */

#import-settings ul {
  padding: 0;
}

section[role="region"] > header .icon.icon-settings {
  background-image: url(/contacts/style/gphx/bitmap/default/vw-header/icons/settings.png);
}

#view-settings {
  z-index: 101;
}

#view-settings .view-body-inner {
  padding: 0;
}

#view-settings .view-body-inner,
#import-settings .view-body-inner,
#view-contact-form .view-body-inner {
  background: #f4f4f4;
}

/* Order switch */
#view-settings [data-type="list"] li#settingsOrder aside {
  pointer-events: none;
}

/* Cutom FB item */
#view-settings [data-type="list"] .fb-item {
  height: auto;
  border-bottom: none;
}

#view-settings [data-type="list"] .fb-item p {
  padding-left: 4.3rem;
}

#view-settings [data-type="list"] .fb-item p span {
  display: block;
  padding-bottom: 0.4rem;
}

#view-settings [data-type="list"] .fb-item p:first-of-type {
  background: url(/contacts/style/images/f_logo.png) no-repeat 0.5rem calc(50% + 0.5rem) / 3rem;
  height: 3rem;
  line-height: 3rem;
}

#view-settings [data-type="list"] .fb-item aside {
  width: 6.5rem;
  height: 6rem;
  pointer-events: none;
}

#view-settings [data-type="list"] .fb-item aside label {
  position: absolute;
  right: 0;
}

#view-settings [data-type="list"] .fb-item[aria-disabled="true"] {
  pointer-events: none;
}

#view-settings [data-type="list"] .fb-item[aria-disabled="true"]:after {
  display: none;
}

#view-settings [data-type="list"] .fb-item[aria-disabled="true"] aside {
  opacity: 0.3;
}

#fb-update-option {
  height: auto;
  margin: 1rem 0;
}

/* We are going to update the panels with conditional css */
#import-settings.export #import-options{
  display: none;
}

#import-settings.import #export-options{
  display: none;
}

#import-settings [data-type="list"] li {
  border-bottom: none;
  height: auto;
}

#import-settings [data-type="list"] li .error-message {
  display: none;
}

#import-settings [data-type="list"] li.error .error-message {
  display: block;
  line-height: 2rem;
  margin-top: -1.5rem;
  color: #5B5B5B;
  font-size: 1.5rem;
  height: auto;
  white-space: normal;
}

/* Extending BB styles */

#import-settings [data-type="list"] li aside {
  pointer-events: auto;
}

#import-settings [data-type="list"] li aside label {
  height: 100%;
  width: 6.5rem;
}

/* Extending BB buttons Icons at left side*/
#view-settings [data-type="list"] li button.icon {
  padding: 0 1rem 0 4rem;
}

#view-settings [data-type="list"] li button.icon:before {
  right: auto;
  left: 0.5rem;
}

#view-settings [data-type="list"] li button.icon[disabled="disabled"]:before {
  opacity: 0.2;
}

#import-settings [data-type="list"] li button.icon {
  padding: 0 1rem 0 4rem;
}

#import-settings [data-type="list"] li button.icon:before {
  right: auto;
  left: 0.5rem;
}

#import-settings [data-type="list"] li button.icon[disabled="disabled"]:before {
  opacity: 0.2;
}

/* Extending icon types for view settings & import-settings*/
#view-settings [data-type="list"] li button.icon-import:before {
  background-image: url(/contacts/style/images/import_contacts.png);
}
#view-settings [data-type="list"] li button.icon-export:before {
  background-image: url(/contacts/style/images/export_contacts.png);
}

#import-settings [data-type="list"] li button.icon:before {
  background-size: 3rem;
}
#import-settings [data-type="list"] li button.icon-sim:before {
  background-image: url(/contacts/style/images/import_SIM.png);
}
#import-settings [data-type="list"] li button.icon-sd:before {
  background-image: url(/contacts/style/images/import_sd.png);
}

#import-settings [data-type="list"] li button.icon-gmail:before {
  background-image: url(/contacts/style/images/gmail_icon.png);
}

#import-settings [data-type="list"] li button.icon-live:before {
  background-image: url(/contacts/style/images/outlook_icon.png);
}

#import-settings [data-type="list"] li button.icon-bluetooth:before {
  background-image: url(/contacts/style/images/bluetooth_icon.png);
}

#view-settings li button {
  line-height: 1.9rem;
}

#view-settings button p {
  display: block;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #858585;
  padding: 0;
}

#view-settings button p span {
  font-size: 1.3rem;
}

#view-settings button p time {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 0 0 0.5rem;
}

#import-settings li button {
  height: 5.5rem;
  line-height: 1.9rem;
}

#import-settings button p {
  display: block;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #858585;
  padding: 0;
}

#import-settings button p span {
  font-size: 1.3rem;
}

#import-settings button p time {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 0 0 0.5rem;
}
/* Error message */
#view-settings .view-body-inner .fb-error {
  color: #D1323F;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.2em;
  white-space: normal;
}

.result {
  display: block;
  min-height: 0 !important;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}

/* No Contacts */

#no-contacts {
  background: #FFF url(/contacts/style/images/contact_big_icon.png) no-repeat center center / 15.3rem;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 11;
  color: #000;
  text-align: left;
}

#no-contacts .info {
  border-top: 0.1rem solid rgba(96, 96, 96, 0.5);
  color: #606060;
  font-size: 2rem;
  font-weight: lighter;
  margin: 15rem 2rem 0;
}

#no-contacts .info p {
  margin: 1rem;
}

#no-contacts p.small {
  font-size: 1.6rem;
  margin-left: 2rem;
}
#no-contacts .icon {
  padding-left: 1.5rem;
  margin-left: 1rem;
}

#no-contacts .create.icon {
  background: url("/contacts/style/images/plus_small_ico.png") no-repeat left center / 1.4rem;
  margin-top: 3rem;
}

#no-contacts .import.icon {
  background: url("/contacts/style/images/settings_small_ico.png") no-repeat left center / 1.6rem;
}

#statusMsg {
  position: fixed;
  -moz-transition: -moz-transform .5s ease;
  -moz-transform: translateY(8rem);
  pointer-events: none;
}

#statusMsg.visible {
  -moz-transform: translateY(0);
  z-index: 1001;
}

.remark {
  color: #ff4e00;
}

.valueselector {
  position: fixed;
  top: -100%;
  left: -100%;
  opacity: 0;
}

#sources {
  margin-top: 1rem;
}

#sources > li {
  border-bottom: none;
  height: auto;
}

#groups-container-box {
  width: 100%;
  overflow: hidden;
}

#groups-container {
  height: 100%;
  overflow: scroll;
}

/* Bug 967274 - Background doesn't scroll with the contacts causing
 * expensive over-invalidation
 */
#groups-container-background {
  background-color: #fff;
}

.group-section {
  padding-left: 1.5rem;
}

.datetime {
  /* pass the events from <span> to <input> */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 1.5rem;
  right: 2rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.datetime + input[type="date"] {
  font-size: 0;
}

.placeholder {
  color: #858585;
}


.hidden-input {
  /* visibility: hidden; will avoid events to reach the <input> */
  opacity: 0;
}

form[role="dialog"][data-type="edit"] header {
  transform: translateY(-5rem);
}

form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(110%);
}

form[role="dialog"][data-type="edit"].contacts-select.in-edit-mode header,
form[role="dialog"][data-type="edit"].contacts-select.in-edit-mode > menu {
  transition: 0s;
}

form[role="dialog"][data-type="edit"].contacts-select:not(.insearchmode) > menu {
  transform: translateY(0);
}

form[role="dialog"][data-type="edit"].contacts-select:not(.insearchmode) header {
  transform: translateY(0);
}
