.hide, *[data-template] {
  display: none !important;
}

#main {
  position: fixed;
  top: 5rem;
  height: calc(100% - 11.8rem);
  width: calc(100% + 0.8rem);
  overflow-x: hidden;
  overflow-y: auto;
  background: #F4F4F4;
}

#contacts-list-container.active li:not(:active):after {
  display: none;
}

#contacts-list-container label {
  left: 0;
  pointer-events: auto;
}

#contacts-list-container > ol > li[data-uuid] {
  display: block;
  padding-left: 4rem;
  border-top: none !important;
}

#contacts-list-container > ol > li[data-uuid] aside,
#contacts-list-container > ol > li[data-uuid] label,
#contacts-list-container > ol > li[data-uuid] p {
  pointer-events: none;
}

#contacts-list-container > ol > li[data-uuid]:last-child {
  border-bottom: none !important;
}

/* BB overrides */

[data-type="list"] li[aria-disabled="true"] {
  pointer-events: auto;
}

li p.match-main-reason {
  color: #008eab;
}

li[aria-disabled="true"] p.match-main-reason {
  color: #5b5b5b;
}

form[role="dialog"][data-type="edit"] #duplicate-msg > p {
  color: #000;
  overflow: visible;
  white-space: normal;
}

form[role="dialog"][data-type="edit"] #main {
  pointer-events: auto;
}

/* Suggested duplicate contacts for xxx */
#matching-details .selected {
  color: #00caf2;
}

#matching-details img {
  height: 6rem;
  width: 6rem;
}

#duplicate-msg {
  width: 100%;
  z-index: 1;
  padding: 0.4rem 0;
}

#duplicate-msg > p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 1rem 3rem;
}

#footer {
  background: none;
  pointer-events: none;
  position: fixed;
}

#footer menu {
  border-top: #d8d8d8 0.1rem solid;
  background: #e8e8e8;
}

#footer button:not([disabled]) {
  pointer-events: auto;
}

[data-type="list"] aside img {
  border-style: hidden;
}

[data-type="list"] li[data-visited="true"] aside img {
  border-style: solid;
}
