html {
  font-size: 10px;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: black;
}

#call-log-view > div {
  background-color: white;
}

.font-light {
  font-weight: 300;
}

a {
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.hide {
  display: none !important;
}

.contact-primary-info {
  font-size: -moz-calc(15*0.226rem);
  color: black;
}

.contact-secondary-info {
  font-size: -moz-calc(6*0.226rem);
  color: white;
}

.grid-wrapper {
  width: 100%;
  height: 100%;
}

.grid-v-align {
  vertical-align: middle;
}

.grid-row {
  display: table-row;
}

.grid-cell {
  display: table-cell;
}

.grid {
  display: table;
  table-layout: fixed;
}

.center {
  text-align: center;
}

body.hidden *[data-l10n-id] {
  visibility: hidden;
}

/* Structure for toolbar*/

.icon-recents {
  background-image: url("images/recents.png");
}

.icon-contacts {
  background-image: url("images/contacts.png");
}

.icon-keypad {
  background-image: url("images/dialpad.png");
}

.with-keyboard #views, .with-keyboard #contacts-view,
.with-keyboard .bb-tablist .bb-tabpanel {
  height: 100% !important;
}

.with-keyboard .bb-tablist > li > a,
.with-keyboard .bb-tablist > li:before {
  display: none;
}

/* Making lazy loading look nice */
#contacts-view .bb-tabpanel,
#recents-view.hidden .bb-tabpanel {
  background-color: white;
}

#contacts-view .bb-tabpanel:before,
#recents-view.hidden .bb-tabpanel:before {
  position: absolute;
  left: 0;
  right: 0;
  height: 5rem;

  background-color: #F97C17;
  content: "";
}

#iframe-contacts-container {
  overflow: hidden;
}

#iframe-contacts {
  position: absolute;
}

#recents-view.hidden .bb-tabpanel section {
  display:none;
}

.no-opacity {
  opacity: 0 !important;
}

/* For showing/hiding navbar */
#views:before {
  transform: translateX(0);
  transition: 0.4s transform 0.4s;
}

#views.hide-toolbar:before {
  transform: translateX(100%);
}

#views > li > .icon {
  transform: translateY(0%);
  z-index: 2;
  transition: 0.5s transform 0.5s;
}

#views.hide-toolbar > li {
  pointer-events: none;
}

#views.hide-toolbar > li:before,
#views.hide-toolbar > li > .icon {
  transform: translateY(100%);
}

#views.hide-toolbar #iframe-contacts-container {
  height: 100%;
}

#views .bb-tabpanel {
  pointer-events: all;
  transition: 0s height 0.5s;
}

#contacts-view .bb-tabpanel {
  height: calc(100% - 4.5rem);
}
