.apps {
  width: 100%;
  height: 100%;
	z-index: 1;
}

/* pages */
.apps > div:first-child {
  transform: translateX(0);
}

.apps > div {
  position: absolute;
  width: 100%;
  height: calc(100% - 7.6rem);
  text-align: center;
  margin: 0 auto;
  overflow: hidden;

  transform: translateX(99.99%);
  will-change: transform;
}

.apps ol {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: block;
  margin: 0 auto;
	margin-top: .3rem;

  /* collection is opened, homescreen apps are faded out */
  transition: opacity 200ms linear;
}

.apps ol > li {
  position: relative;
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
}

/* Maximum 16 icons for page */
.apps ol > li:nth-child(17) {
  display: none;
}

/* Maximum 12 icons for first page */
body.searchPageEnabled .apps div:first-child ol > li:nth-child(13) {
  display: none;
}

/* Container -> icon + label */
.apps ol > li > div {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  pointer-events: none; /* NO touchable area */
  font-size: 0; /* To remove the gap between the icon and the label, which is adjustable by .labelWrapper */
}

/* Handling the case where the status bar is double size */
/* XXX remove when the homescreen layout gets more dynamic */
@media screen and (max-height: 440px) and (orientation: portrait) {
  .apps ol > li > div {
    margin-top: .2rem;
  }
}

/* label wrapper */
.apps ol > li > div > span {
  overflow: hidden; /* We cut the text to avoid messing up the grid */
  word-wrap: break-word;
}

.apps ol > li > div > span.mask {
	mask: url('app_name_mask.svg#fade_right_mask');
	text-overflow: '';
}

ol > li.active > div > img {
  filter: url('app_tapped_filter.svg#blur');
}

/* text label */
.apps ol > li > div > span > span {
  font-size: 1.3rem;
  line-height: 2rem; /* maintain constant line height even if font fallback
                        gives us different fonts for non-Latin labels */
  text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,1);
}

/* These classes detect text overflow from JS code */
#fake-icon {
  width: 8rem; /* Like li items */
  position: fixed;
  top: 200%; /* Outside viewport */
  display: block;
}

#fake-icon-name {
  font-size: 1.3rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,1);
}

.labelWrapper {
  color: #fff; /* App label color */
  white-space: nowrap; /* NO new lines */
  display: block;
  width: 94%; /* At least 6% of margin between labels of different apps */
  position: relative;
  height: 2.5rem;
  margin: 0.1rem auto -0.4rem;
  font-weight: 500;
}

/* Alternative icons when an app is being installed */
.loading:after {
  margin: 0.8rem;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30000;
  width: 6rem;
  height: 6rem;
  background: url('/style/images/loading_spinner.png');
  background-size: 6rem;
  animation: rotate 2.25s linear infinite;
}

.apps .loading:after {
  margin-top: 0.4rem;
}

/* the panels are panning */
body[data-transitioning] .loading:after {
  animation-name: none;
}

/* the icon is being dragged */
.draggable .loading:after {
  animation-name: none;
  background: none;
}

.loading img {
  margin-top: 0.4rem;
  margin-left: -0.4rem;
  width: 6rem;
  height: 6rem;
}

@keyframes rotate {
  from {
    transform: rotate(1deg)
  }
  to {
    transform: rotate(360deg)
  }
}

/* if disable e.me, adds 1 row of icons back */
@media (min-device-width: 320px) and (min-device-height: 640px) {
  body.searchPageEnabled .apps ol:first-child > li:nth-child(13) {
    display: inline-block;
  }

  .apps ol > li:nth-child(17) {
    display: inline-block;
  }

   /* Maximum 16 icons for first page */
  body.searchPageEnabled .apps ol:first-child > li:nth-child(17) {
    display: none;
  }

   /* Maximum 20 icons for page */
  .apps ol > li:nth-child(21) {
    display: none;
  }
}

/* For WVGA (800 x 480), adjust the padding to make app icons fit in 4 x 5 grid */
/* The width here is described as CSS pixel, so it would be 320px while dppx = 1.5 */
@media (min-device-width: 320px) and (max-device-width: 359px) and (max-aspect-ratio: 4 / 6) {
  .apps ol > li > div {
    margin-top: 0;
  }

  .labelWrapper {
    margin-top: 0.2rem;
    height: 1.9rem;
  }

  .apps ol > li:nth-child(17) {
    display: inline-block;
  }

  /* Maximum 20 icons for page */
  .apps ol > li:nth-child(21) {
    display: none;
  }
}

/* For tablet+ Device */
@media (min-width: 768px) {
  .apps > div {
    height: calc(100% - 16.9rem);
  }

  .apps ol {
    -moz-box-sizing: border-box;
    padding: 3.5rem 7rem 6.5rem 7rem;
  }

  .labelWrapper {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: bold;
  }

  /* text label */
  .apps ol > li > div > span > span {
    font-size: 1.6rem;
    text-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
  }

  /* Maximum 12 icons for first page when searchPageEnabled */
  body.searchPageEnabled .apps div:first-child ol > li:nth-child(13) {
    display: none;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .apps ol > li {
    width: calc(100% / 6); /* six a line */
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .apps ol {
    -moz-box-sizing: border-box;
    padding: 3.5rem 11rem 6.5rem 11rem;
  }

  /* Maximum 18 icons for page */
  .apps ol > li:nth-child(19) {
    display: none;
  }

  .apps ol {
    margin-top: 0;
  }
}
